@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  background-color: #204e4e;
  color: rgb(18, 245, 245);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

body {
  font-family: montserrat;
}

h1 {
  color: aquamarine;
  font-weight: bold;
  font-style: italic;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: large;
}

nav a {
  color: white;
  text-decoration: none;
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease-in-out;
  height: 0;
}

.questionContainer {
  padding-bottom: 15px;
}

.questionToShow {
  padding-top: 10px;
}

.answersContainer {
  padding-top: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 15px;
}

.ansElement {
  width: 100%;
  display: flex;
  margin: 5px auto 0;
  align-items: center;
  justify-content: center;
}

.ansButton {
  width: 85%;
  font-weight: 700;
  border: 0;
  background: black;
  color: white;
  border-radius: 8px;
  padding: 10px 15px !important;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.incorrect {
  animation: shakeAndFadeBackToBlack 750ms;
}
.correct {
  animation: jumpAndFadeToBlack 750ms;
}

#timeLeft {
  color: white;
  padding: 15px;
  background: black;
  border-radius: 8px;
  max-width: fit-content;
  transition: 150ms ease-in-out;
}

@keyframes shakeAndFadeBackToBlack {
  0% {
    color: white;
    background: red;
    transform: translate(-5px);
  }
  25% {
    transform: translate(0px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    background: red;
    transform: translate(0px);
  }
  100% {
    background: black;
    transform: translate(0);
  }
}

/* Adding effect styling for correct Answer */
@keyframes jumpAndFadeToBlack {
  0% {
    color: white;
    background: green;
    transform: translate(0);
  }
  25% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, -10px);
  }
  75% {
    background: green;
    transform: translate(0, -5px);
  }
  100% {
    background: black;
    transform: translate(0);
  }
}

.ansButton:hover {
  color: black;
  background: white;
  box-shadow: -2px 2px 4px #636363;
}

#PreStartArea {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 25px auto;
  transition: 300ms ease-in-out;
}

.startbuttonContainer {
  width: 100%;
}

.ansButton {
  width: 100%;
  font-weight: 700;
  border: 0;
  background: black;
  color: white;
  border-radius: 8px;
  padding: 5px 0;
  transition: 150ms ease-in-out;
}

.quizActive #PreStartArea {
  margin: 0 auto;
}

.quizActive #PreStartArea ul {
  min-width: 305px;
}

#QuizArea {
  width: 85%;
  margin: 0 auto;
  border: 5px solid black;
  padding: 0 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 11px #0dadad;
}

.gameStats {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 25px;
}

.gameStats div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 14px;
}

.statsContainer .gameStats {
  grid-gap: 5px;
  flex-direction: column;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
}

#LeaderboardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#BackButton {
  width: 50%;
}

.ranking {
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}